.tl_content .inline
{
	display            : inline-block;
}

.align-right
{
	text-align         : right;
}

.tl_folder_tlist
{
	padding            : 2px 5px 3px;
}

.item
{
	padding-left       : 5px;
	padding-right      : 5px;
}

#tl_navigation .group-wertungsportal {
	background:url("/bundles/contaowertungsportal/images/rating.png") 3px 2px no-repeat;
}

/*table.api_statistik {
	width              : 100%;
	border             : 1px solid #C0C0C0;
}

table.api_statistik th,
table.api_statistik td {
	border             : 1px solid #DBDBDB;
	padding            : 5px;
}
*/